# See: man no-subscription

Types: deb
URIs: http://download.proxmox.com/debian/pve
Suites: FREE_PMX_DEBIAN
Components: pve-no-subscription
Signed-By: FREE_PMX_APTKEY_SHARE
Signed-By: FREE_PMX_APTKEY_LOCAL
